<div id="modospagamentos" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    payment
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Modo de Pagamento
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Buscar por modo de pagamento">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button
                    [routerLink]="'/apps/contabil/modos-pagamentos/novo'"
                    class="add-product-button fuse-white mt-24 mt-md-0">
                <span>NOVO MODO DE PAGAMENTO</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="modospagamentos-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let modoPag" fxShow.gt-xs>
                        {{modoPag.id}}
                    </mat-cell>
                </ng-container>

                <!-- Descricao Column -->
                <ng-container matColumnDef="descricao">
                    <mat-header-cell *matHeaderCellDef mat-sort-header >Descrição</mat-header-cell>
                    <mat-cell *matCellDef="let modoPag" fxShow.gt-xs>
                        {{modoPag.descricao}}
                    </mat-cell>
                </ng-container>

                <!-- Ações Column -->
                <ng-container matColumnDef="acoes">
                    <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
                        <mat-cell *matCellDef="let modPag" fxShow.gt-xs>
                            <button mat-mini-fab color="primary"
                                [routerLink]="'/apps/contabil/modos-pagamentos/'+modPag.id">
                                <mat-icon aria-label="Edit">edit</mat-icon>
                            </button>
                            <button mat-mini-fab color="primary"
                                (click)="deleteModoPagamento(modPag.id)" >
                                <mat-icon aria-label="Delete">delete</mat-icon>
                            </button>
                        </mat-cell>
                </ng-container>
                

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let modoPag; columns: displayedColumns;"
                         class="modopagamento"
                         matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

            {{error}}  

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
