<div id="lancamentos-receitas" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    add_circle_outline
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Receitas
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Buscar por receitas">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button *ngIf="_auth.temPermissao('ROLE_LANCAMENTO_CRIAR')"
                mat-raised-button
                [routerLink]="'/apps/e-commerce/products/new'"
                class="add-product-button fuse-white mt-24 mt-md-0">
                <span>NOVA RECEITA</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="receitas-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar
                       >

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let receita">
                        {{receita.id}}
                    </mat-cell>
                </ng-container>

                <!-- Image Column -->
                <ng-container matColumnDef="imagemDocumento">
                    <mat-header-cell *matHeaderCellDef>Imagem</mat-header-cell>
                    <mat-cell *matCellDef="let receita">
                        <img class="receita.imagemDocumento"
                             *ngIf="receita.imagemDocumento" 
                             [src]="receita.imagemDocumento"/>
                        <img *ngIf="!receita.imagemDocumento"
                             [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                    </mat-cell>
                </ng-container>

                <!-- Data Column -->
                <ng-container matColumnDef="data">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Data</mat-header-cell>
                    <mat-cell *matCellDef="let receita">
                        {{receita.data | date: 'dd/MM/yyyy'}}
                    </mat-cell>
                </ng-container>

                <!-- planoConta Column -->
                <ng-container matColumnDef="planoConta">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Plano Conta</mat-header-cell>
                    <mat-cell *matCellDef="let receita">
                        {{receita.planoConta.descricao}}
                    </mat-cell>
                </ng-container>

                <!-- modoPagamento Column -->
                <ng-container matColumnDef="modoPagamento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Modo Pagamento</mat-header-cell>
                    <mat-cell *matCellDef="let receita">
                        {{receita.modoPagamento.descricao}}
                    </mat-cell>
                </ng-container>

                <!-- tipoDocumento Column -->
                <ng-container matColumnDef="tipoDocumento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Documento</mat-header-cell>
                    <mat-cell *matCellDef="let receita">
                        {{receita.tipoDocumento.descricao}}
                    </mat-cell>
                </ng-container>

                <!-- supCaixa Column -->
                <ng-container matColumnDef="supCaixa">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Sup. Caixa?</mat-header-cell>
                    <mat-cell *matCellDef="let receita">
                        {{receita.supCaixa}}
                    </mat-cell>
                </ng-container>

                <!-- valor Column -->
                <ng-container matColumnDef="valor">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Valor</mat-header-cell>
                    <mat-cell *matCellDef="let receita">
                       {{receita.valor | currency:'BRL':'symbol':'1.2-2'}} 
                    </mat-cell>
                </ng-container>

                <!-- Ações Column -->
                <ng-container matColumnDef="acoes">
                    <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
                        <mat-cell *matCellDef="let receita" fxShow.gt-xs>
                            <button *ngIf="_auth.temPermissao('ROLE_LANCAMENTO_ATUALIZAR')"
                                mat-mini-fab color="primary" 
                                routerLink="/base/viewUserDetails/{{receita.userid}}">
                                <mat-icon aria-label="Edit">edit</mat-icon>
                            </button>
                            <button *ngIf="_auth.temPermissao('ROLE_LANCAMENTO_DELETAR')"
                                mat-mini-fab color="primary" 
                                (click)="deleteReceita(receita.id)" 
                                >
                                <mat-icon aria-label="Delete">delete</mat-icon>
                            </button>
                            <button *ngIf="_auth.temPermissao('ROLE_LANCAMENTOS_RECEITAS_LISTAR')"
                                mat-mini-fab color="primary" 
                                (click)="detalharReceita(receita.id)" 
                                >
                                <mat-icon aria-label="Detalhar">visibility</mat-icon>
                            </button>
                        </mat-cell>
                </ng-container>  
                

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let receita; columns: displayedColumns;"
                         class="receita"
                         matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
