<mat-toolbar>

    <div fxLayout="row" class="footer-copy" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <div fxLayout="row" fxLayoutAlign="end center" fxHide fxShow.gt-xs>
                <a href="#" 
                target="_blank" fxFlex="0 0 auto" fxLayout="row"
                fxLayoutAlign="end center">
                <span>&bull;</span> Todos os direitos reservados a Sindifisco-PA
             </a>
        </div>

    </div>

</mat-toolbar>
<style>
    .footer-copy {
        font-size: 12px;
    }
</style>