<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/sindifisco.png">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Bem-vindo ao Portal Transparência!
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
                O Portal Transparência do Sindifisco é um canal pelo qual o sindicalizado pode acompanhar como suas contribuições são utilizadas. Além de manter o cadastro atualizado de seus contriuintes. 
        </div>

    </div>

    <div id="login-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="login-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/sindifisco.png">
            </div>

            <div class="title">ENTRE EM SUA CONTA</div>

            <form name="loginForm" autocomplete="off" #f="ngForm" [formGroup]="loginForm" novalidate>
                    
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="usuario" #usuario>
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('usuario').hasError('required')">
                        Email é obrigatório
                    </mat-error>
                    <mat-error
                        *ngIf="loginForm.get('usuario').hasError('required') ||
                               !loginForm.get('usuario')">
                        Por favor entre com um email válido
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="senha" #senha>
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Senha é obrigatória
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me">
                        Lembrar-me
                    </mat-checkbox>

                    <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password-2'">
                        Esqueceu a senha?
                    </a>
                </div>
                <button mat-raised-button 
                        color="accent" 
                        class="submit-button" 
                        aria-label="LOGIN" 
                        type="submit" 
                        [disabled]="!f.valid"
                        (click)="login(usuario.value, senha.value); senha.value = '';">
                        ENTRAR
                </button>
            </form>
        </div>
    </div>
</div>
