<div id="despesa" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/contabil/lancamentos/despesas'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='editar'">
                        {{despesa.descricao}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='novo'">
                        Nova Despesa
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detalhes da despesa</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-despesa-button" [disabled]="despesaForm.invalid"
                *ngIf="pageType ==='novo'" (click)="novaDespesa()">
                <span>NOVO</span>
            </button>

            <button mat-raised-button class="save-product-button" *ngIf="pageType ==='editar'"
                (click)="atualizarDespesa()">
                <span>SALVAR</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="despesaForm" [formGroup]="despesaForm" class="mat-card p-24" fxLayout="column"
                    fxLayoutAlign="start" fxFlex="1 0 auto">

                    <div fxLayout="row" fxFlex="1 1 5em">

                        <mat-form-field appearance="outline" fxFlex="25" class="px-8">
                            <mat-label>Data</mat-label>
                            <input matInput [matDatepicker]="picker" placeholder="Data da despesa" name="data"
                                formControlName="data" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="25" class="px-8">
                            <mat-label>Valor</mat-label>
                            <input matInput type="text" placeholder="R$ 0.000,00" name="valor" formControlName="valor"
                                required>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="25" class="px-8">
                            <mat-label>Número do Documento</mat-label>
                            <input matInput placeholder="Número do Documento" name="numDocumento"
                                formControlName="numDocumento">
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="25" class="px-8">
                            <mat-label>Número do Cheque</mat-label>
                            <input matInput placeholder="Número do Cheque" name="numCheque" formControlName="numCheque">
                        </mat-form-field>

                    </div>


                    <div fxLayout="row" fxFlex="1 1 5em">
                        <mat-form-field appearance="outline" fxFlex="50" class="px-8">
                            <mat-label>Plano de Conta</mat-label>
                            <mat-select [compareWith]="compareContas" formControlName="planosContas">
                                <mat-option *ngFor="let planoConta of planosContas" [value]="planoConta">
                                    {{ planoConta.descricao }}
                                </mat-option>
                            </mat-select>
                            <mat-icon matSuffix class="disabled-text">domain</mat-icon>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="25" class="px-8">
                            <mat-label>Tipo de Documento</mat-label>
                            <mat-select [compareWith]="compareTipoDoc" formControlName="tiposDocumentos">
                                <mat-option *ngFor="let tipoDocumento of tiposDocumentos" [value]="tipoDocumento">
                                    {{tipoDocumento.descricao}}
                                </mat-option>
                            </mat-select>
                            <mat-icon matSuffix class="disabled-text">domain</mat-icon>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="25" class="px-8">
                            <mat-label>Modo de Pagamento</mat-label>
                            <mat-select [compareWith]="compareModPag"  formControlName="modosPagamentos">
                                <mat-option *ngFor="let modoPagamento of modosPagamentos" [value]="modoPagamento">
                                    {{modoPagamento.descricao}}
                                </mat-option>
                            </mat-select>
                            <mat-icon matSuffix class="disabled-text">domain</mat-icon>
                        </mat-form-field>

                    </div>


                    <div fxLayout="row" fxFlex="1 1 5em">

                        <mat-form-field appearance="outline" fxFlex="100" class="px-8">
                            <mat-label>Observação</mat-label>
                            <textarea matInput placeholder="Descreva uma observação" name="observacao"
                                formControlName="observacao">
                            </textarea>
                        </mat-form-field>

                    </div>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>